@import "./global/global.css"; /* CSS reset */
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";

/* Utilidades */
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";

/* Seguros */
@import "./seguros/seguro.css";
