.bicicletas-bg {
  background-image: linear-gradient( to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 1.25rem;
  display: inline-block;
  background-color: var(--cor-12);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 1.25rem;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-primaria-1);
  margin-bottom: 8px;
}

.bicicletas-conteudo p {
  margin-bottom: 2rem;
}

.bicicletas-conteudo a {
  place-self: end;
}

.bicicletas-conteudo li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bicicletas ul {
  display: grid;
  gap: 1rem;
}

.bicicletas-conteudo img {
  width: 1.5rem;
}

@media (max-width: 800px) {

  .bicicletas-bg{
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }

  .bicicletas a {
    place-self: start;
  }
}
