.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-primaria-5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
