.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--cor-primaria-1);
  overflow: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 2.5rem 2.5rem 5rem 5rem;
  align-self: end;
  background: url("../../img/dec/bottom-right-p.svg") no-repeat bottom 40px right 40px;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 2rem;
  position: relative;
}

.depoimento p::before,
.depoimento p::after {
  font-size: 5rem;
  color: var(--cor-primaria-2);
  position: absolute;
}

.depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .depoimento img {
    max-height: 200px;
  }

  .depoimento-conteudo {
    padding: 2.5rem 1.25rem;
    justify-self: center;
  }
}
