.introducao-bg {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
  box-shadow: inset 0 -120px 0 #fff;
}

.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 2.5rem;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 2rem;
}

.introducao h1 span {
  color: var(--cor-primary-1);
}

.introducao p {
  margin-bottom: 1.25rem;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 2.5rem;
    box-shadow: inset 0 -60px #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 1rem;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
