.tecnologia-bg {
  background: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}
.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.tecnologia-imagem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.tecnologia-conteudo > span {
  display: block;
  margin-bottom: 1.25rem;
}

.tecnologia-conteudo h2 {
  display: block;
  margin-bottom: 2rem;
}

.tecnologia-conteudo > p {
  margin-bottom: 1.25rem;
}

.tecnologia a {
  margin-bottom: 5rem;
}

.tecnologia-vantagens {
  display: flex;
  gap: 2.5rem;
}

.tecnologia-vantagens h3 {
  margin-bottom: 0.5rem;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .tecnologia-imagem {
    display: none;
  }

  .tecnologia a {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}
